@{
    Layout = "_Layout";
}

<div class="row p-3 d-flex justify-content-between">
    <h2 class="m-0 fontstyle" style="color: var(--blue1);">Change Password</h2>
</div>
<div class="ms-5 p-5" style="width: fit-content;">
    <span class="fs-6 text-muted">Enter a new password to update your account credentials</span>
    <form asp-action="changePassword" asp-controller="Home" method="post">
    <div class="input-group mb-3">
        <input type="password" class="form-control" id="passchange-1" placeholder="Current Password*" aria-label="Recipient Password" aria-describedby="oldPass" required>
        <span class="input-group-text" id="oldPass">
            <img type="button" class="icon" id="passchange-eye-hide-1" src="@Url.Content("~/images/my/pass-hidden.png")"
                alt="no image">
            <img type="button" class="icon d-none" id="passchange-eye-show-1" src="@Url.Content("~/images/my/pass-show.png")" alt="">
        </span>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" id="passchange-2" placeholder="New Password*" aria-label="Recipient Password" aria-describedby="newPass" required>
        <span class="input-group-text" id="newPass">
            <img type="button" class="icon" id="passchange-eye-hide-2" src="@Url.Content("~/images/my/pass-hidden.png")"
                alt="no image">
            <img type="button" class="icon d-none" id="passchange-eye-show-2" src="@Url.Content("~/images/my/pass-show.png")" alt="">
        </span>
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" id="passchange-3" placeholder="Confirm Password*" aria-label="Recipient Password" aria-describedby="confirmPass" required>
        <span class="input-group-text" id="confirmPass">
            <img type="button" class="icon" id="passchange-eye-hide-3" src="@Url.Content("~/images/my/pass-hidden.png")"
                alt="no image">
            <img type="button" class="icon d-none" id="passchange-eye-show-3" src="@Url.Content("~/images/my/pass-show.png")" alt="">
        </span>
    </div>
    <div class="d-flex justify-content-start">
        <button type="submit" class="btn btn-filled m-2">Submit</button>
        <button class="btn btn-border m-2">Cancel</button>
    </div>
    </form>
</div>