@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex justify-content-between">
    <p class="fw-bold fs-2">Dashboard</p>
    <div class="dropdown">
        <button class="btn dropdown-toggle shadow" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;">
            Current Month
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Current Month</a></li>
            <li><a class="dropdown-item" href="#">Previous Month</a></li>
        </ul>
    </div>
</div>
<div class="row d-flex ps-3">
    <!-- 4 cards -->
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3 me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="sales-icon p-0" src="@Url.Content("~/images/icons/total-sales.svg")" alt=" ">
        </div>
        <p class="fs-3 fw-bold m-0">$1630</p>
        <p class="fs-5 m-0 text-muted">Total Sales</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3  mb-3 me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="orders-icon p-0" src="@Url.Content("~/images/icons/total-orders.svg")" alt=" ">
        </div>
        <p class="fs-3 fw-bold m-0">1</p>
        <p class="fs-5 m-0 text-muted">Total Orders</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3  mb-3 me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="values-icon p-0" src="@Url.Content("~/images/icons/order-value.svg")" alt=" ">
        </div>
        <p class="fs-3 fw-bold m-0">$1630</p>
        <p class="fs-5 m-0 text-muted">Avg Order Value</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3  me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="wait-icon p-0" src="@Url.Content("~/images/icons/waiting-time.svg")" alt=" ">
        </div>
        <p class="fs-3 fw-bold m-0">6.96 mins</p>
        <p class="fs-5 m-0 text-muted">Avg Waiting Time</p>
    </div>
</div>
<div class=" row ps-3">
    <!-- 2 cards -->
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3 pt-2 me-3 divcontent shadow">
        <p class="fs-3 m-0">Revenue</p>
        <p>graph here</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 mb-3 pt-2 me-3 divcontent shadow">
        <p class="fs-3 m-0">Customer Growth</p>
        <p>graph here</p>
    </div>
</div>
<div class=" row ps-3">
    <!-- 4 cards -->
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3 pt-2 me-3 divcontent shadow">
        <p class="fs-3 mb-3">Top Selling Items</p>
        <div class="d-flex justify-content-start align-items-center gap-2">
            <span>#1</span>
            <img class="icon p-0" src="@Url.Content("~/images/dining-menu.png")" alt="">
            <div>
                <p class="p-0 m-0">Grilled burger</p>
                <div class="d-flex">
                    <img class = "icon" src = "@Url.Content("~/images/my/menu.svg")" alt = "">
                    <p class="p-0 m-0">1 order</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center gap-2">
            <span>#2</span>
            <img class="icon p-0" src="@Url.Content("~/images/dining-menu.png")" alt="">
            <div>
                <p class="p-0 m-0">Grilled burger</p>
                <div class="d-flex">
                    <img class = "icon" src = "@Url.Content("~/images/my/menu.svg")" alt = "">
                    <p class="p-0 m-0">1 order</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3 pt-2 me-3 divcontent shadow">
        <p class="fs-3 m-0">Least Selling Items</p>

    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3 me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="waitlist-icon p-0" src="@Url.Content("~/images/icons/total-sales.svg")" alt=" ">
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 mb-3 me-3 pt-3 pb-3 divcontent shadow">
        <div class="d-flex justify-content-end">
            <img class="customer-icon p-0" src="@Url.Content("~/images/icons/total-sales.svg")" alt=" ">
        </div>
    </div>
</div>