@model PS.Domain.View_Models.Login;
@{
    Layout = "_Layout";
}

<div class="d-flex fit-content justify-content-center align-items-center">
    <img class="logo" src="@Url.Content("~/images/logos/pizzashop_logo.png")" alt="">
    <h1 style="color: #0d6efd;">PIZZA SHOP</h1>
</div>

<div class="mt-3 mb-3 fs-3 fw-bold fontstyle">Reset Password</div>

<!-- form -->
<form asp-action="resetPass" asp-controller="Pages" method="post">
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="New Password*" aria-label="New Password"
            aria-describedby="basic-addon1" required>
        <span class="input-group-text" id="basic-addon1">
            <img type="button" class="icon" id="eye-hide" src="@Url.Content("images/my/pass-hidden.png")"
                alt="no image">
            <img type="button" class="icon d-none" id="eye-show" src="@Url.Content("images/my/pass-show.png")" alt="">
        </span>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Confirm Password*" aria-label="Confirm Password"
            aria-describedby="basic-addon2" required>
        <span class="input-group-text" id="basic-addon2">
            <img type="button" class="icon" id="eye-hide" src="@Url.Content("images/my/pass-hidden.png")"
                alt="no image">
            <img type="button" class="icon d-none" id="eye-show" src="@Url.Content("images/my/pass-show.png")" alt="">
        </span>
    </div>
    <button class="btn btn-primary" style="width: 100%;">Submit</button>
    <div class=" mt-2 d-flex justify-content-center">
        <a class="text-decoration-none" href="@Url.Action("Index", "Home")">Back to Login</a>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>